@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body{
  background-color: #000;
  font-family: 'Oswald', sans-serif;
  color: #fff;
}

/* Basic styling for the Navbar */
.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #000;
  padding: 10px 20px;
  height: 80px;
}

.logo {
  color: #fff;
  font-size: 1.8em;
  font-weight: bold;

}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-left: 50px;
}


/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
  }

  .nav-links li {
    margin: 10px 0;
  }
}
.main{
  display: flex;
  flex-direction: row;
  height: 800px;
  justify-content: space-around;
  align-items: center;
}
.text-main{
  font-size: 5em;
  justify-content: flex-start;
}
.image-main{
  justify-content: center;

}
.text-desc{
  font-size: 2em;
}